* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

button.ant-btn {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
  background-color: aqua;
}

img {
  width: 120px;
}

.app_container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1.ant-typography {
  color: #ffffff;
  background-color: #001529;
  text-align: center;
  width: 100%;
}

h5.ant-typography {
  color: #ffffff;
  font-weight: 400;
}